#root {
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.App-header {
  text-align: center;
}

.ul-team {
  display: flex;
  justify-content: space-around;
}

.li-all {  
  list-style-type: none;
  text-align: left;
}