#root {
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.App-header {
  text-align: center;
}

.ul-team {
  display: flex;
  justify-content: space-evenly;
  
}

.li-all {  
  list-style-type: none;
  padding: 10px;
  font-weight: 600;
  margin: 0px;
}